@font-face {
    font-family: "SuisseMono";
    src: url("/res/fonts/SuisseIntl/SuisseIntlMono-Regular.otf");
}
@font-face {
    font-family: "Suisse";
    src: url("/res/fonts/SuisseIntl/SuisseIntl-Regular.otf");
}